<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/${spring.application.name}-${server.port}.log}"/> -->
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/springsession.log}"/>

	<include resource="org/springframework/boot/logging/logback/base.xml" />


	<appender name="infoRollingAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/springsession-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<logger name="org.springframework" level="DEBUG"/>
	<logger name="org.springframework.scheduling" level="INFO" />

	<logger name="com.lin.feng.sheng" level="DEBUG"/>


	<root level="DEBUG">
        <appender-ref ref="CONSOLE" />
		<appender-ref ref="infoRollingAppender" />
    </root>

	<root level="INFO">
        <appender-ref ref="CONSOLE" />
		<appender-ref ref="infoRollingAppender" />
    </root>

	<root level="ERROR">
        <appender-ref ref="CONSOLE" />
		<appender-ref ref="infoRollingAppender" />
    </root>

</configuration>